output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
*/work-items-out/*
testrun/*
.~lock*
*.pkl
challenge.xlsx
.env
delete_images.sh
geckodriver-1.log
downloads/*
modified_documents/*
logs/*
wot_automation.json
create-monthly.json
workmail_test.py
database/*

creds/*